@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0b0f;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}